@font-face {font-family: 'Mono'; src: url('../fonts/Monofonto.ttf');}

body {
    background-color: grey;
}

#intro {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
}

p {
    font-family: 'Mono';
    font-size: 40px;
}
