#stickynote1 {
    width: 180px;
    margin-bottom: 20px;
    position: fixed;
    z-index: 100000000000;
    top: 30px; /** position from top of screen **/
    left: 30px; /** position from left of screen **/
}

#stickynote1 {
    width: 180px; /** width of your sticky note **/
    background-color: rgba(165,216,216,0.7); /** background colour **/
}

.dragstickynote1 {
    font-family: consolas;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    background-color: rgba(255,255,255,0.4);
}

.closestickynote1 {
    cursor: pointer;
    margin-left: 148px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-family: arial;
    font-size: 10px;
    position: absolute;
    text-align: center;
    float: right;
    background-color: rgba(255,255,255,0.4);
}

.stickynotecontent {
    padding: 10px;
    font-family: consolas;
    font-size: 10px;
}

.stickynotecontent b,strong {
    color: #000000; /** colour of bolded text **/
}

.stickynotecontent i,em {
    color: #666666; /** colour of italic text **/
}

.stickynotecontent a {
    text-decoration: underline;
    color: #666666; /** colour of linked text **/
}

.stickynotecontent a:hover {
    color: #aaaaaa; /** colour of hovered linked text **/
}
