.card-link {
  color: black;
  &:hover {
    text-decoration: none;
    color: #1d2124;
    text-shadow: -2px 2px 2px gray;
    img{
      box-shadow: -5px 5px 5px lightgray;
    }
  }
  a {
    color: black;
  }

}