` .odd-left {
      padding: 10px;
      background-color: #dbe9d8;
    }

    .odd-right {
      padding: 10px;
      background-color: #c2d4d8;

    }

    .even-left {
      padding: 10px;
      background-color: #e2c6ff;
    }

    .even-right {
      padding: 10px;
      background-color: #f2efe8;
    }

    .odd-left:hover {
      padding: 10px;
      background-color: #9ad3de;
    }

    .odd-right:hover {
      padding: 10px;
      background-color: #c9c9c9;

    }

    .even-left:hover {
      padding: 10px;
      background-color: #e3e3e3;
    }

    .even-right:hover {
      padding: 10px;
      background-color: #89bdd3;
    }

    .footer {
      text-align: center;
      padding: 10px 0;
      background-color: lightgray;
    }
    .container{
      margin-top: 35px;
      margin-bottom: 35px;
    }

    .table-responsive p {
      padding: 20px;
      text-indent: 50px;
    }

    .row.subtopics {
      height: 150px;
    }

    .row h3 {
      color: DarkSlateGray;
      text-decoration: none;
      text-align: center;
      letter-spacing: 2px;
    }

    .col-sm-3 {
      align-items: center;
    }

    .modal-body li {
      line-height: 2;
    }
