doctype html
html
    head
        title='CSS'
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='../css/uikit.min.css')
        script(src='../js/uikit.min.js')
        script(src='../js/uikit-icons.min.js')

    body
        nav.uk-navbar-container.uk-margin(uk-navbar uk-sticky)
            div.uk-navbar-left.uk-margin-large-left
                a.uk-navbar-item.uk-logo(href='../index.html') WebTech 2018
            div.uk-navbar-right.uk-margin-xlarge-right
                ul.uk-navbar-nav
                    li 
                        a.uk-button.uk-button-text(href='../prelims/prelims.html') Preliminaries
                        div.uk-navbar-dropdown
                            ul.uk-nav.uk-navbar-dropdown-nav.uk-nav-parent-icon(uk-nav)
                                li
                                    a(href='../prelims/overview.html') Overview
                                li
                                    a(href='../prelims/www.html') World Wide Web
                                li.uk-parent
                                    a(href='../prelims/http/http.html') HTTP
                                    ul.uk-nav-sub
                                        li
                                            a(href='../prelims/http/http.html') Introduction
                                        li
                                            a(href='../prelims/http/evolution.html') Version/Evolution
                                        li
                                            a(href='../prelims/http/message.html') Message
                                        li
                                            a(href='../prelims/http/features.html') Features
                                li
                                    a(href='../prelims/url.html') URL
                                li
                                    a(href='../prelims/html.html') HTML
                                li(class='uk-nav-divider')
                                li
                                    a(href='#') Quiz
                                li.uk-nav-divider
                                li
                                    a(href='../prelims/references.html') References
                    li.uk-active
                        a.uk-button.uk-button-text(href='../midterms/midterms.html') Midterms
                        div.uk-navbar-dropdown
                            ul.uk-nav.uk-navbar-dropdown-nav.uk-nav-parent-icon(uk-nav)
                                li
                                    a(href='css.html') CSS
                                li
                                    a(href='#') CSWS
                                li.uk-nav-divider
                                li
                                    a(href='#') Quiz
                                li.uk-nav-divider
                                li
                                    a(href='#') References
        div.uk-container.uk-container-small.uk-margin.uk-padding-small(uk-height-viewport="offset-top: true; offset-bottom: 100px")
            div I'm really gonna miss you. Doc, about the future… No, Marty, we've already agreed that having information about the future could be extremely dangerous. Even if your intentions are good, they could backfire drastically. Whatever you've got to tell me I'll find out through the natural course of time. (Coffee Shop) (Marty is writing Doc a letter.) Dear Doctor Brown, on the night that I go back in time, you will be shot by terrorists. Please take whatever precautions are necessary to prevent this terrible disaster. Your friend, Marty.
        div.uk-navbar-container.uk-margin.uk-padding-small(uk-navbar style='margin-bottom: 0;')
            div.uk-navbar-center
                | 9325A 1-2 TF Group 1
                br
                | &copy; March 2018